{% extends "admin/base.html" %}

{% block title %}Staff{% endblock %}

{% block extrastyle %}
<style>
    * {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #EDBD4C;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
  text-align: center;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

/* Style the footer */
.footer {
  background-color: #EDBD4C;
  padding: 10px;
  text-align: center;
  position: absolute;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
table {
  width: 100%;
}

th {
  height: 60px;
}


.button {
  background-color: #0f2453;
  border: ;
  color: white;
  padding: 10px 40px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.button:hover {
  background-color:#2853FE;
}


</style>

    <div class="header">
        <h1>Online Guest House Booking Portal</h1>
        
      
      </div>
        
      <div class="row">
            <div class="column side">
    </div>
    <div class="column middle"></div>
    <div class="footer jumbotron text-center" style="margin-bottom:0; background-color:  #EDBD4C;">
            <p>Footer</p>
          </div>
                
{% endblock %}
{% block branding %}
<style>
    #header{
        background-color:#a29e9;
        text-decoration-color: #f2f2f2;
    }
    .submit-row input {
    margin: 0;
    text-transform: uppercase;
    background-color: #EDBD4C;
        text-decoration-color: #f2f2f2;
        
}
.column.side {
    width: 100;
}
.footer {
    background-color: #EDBD4C;
    padding: 10px;
    text-align: center;
    position: absolute;
    height: 50px;
    bottom: 100%;
    left: 0px;
    right: 0px;
    margin-bottom: 10px;
}
        
    
</style>
<h1 id="site-name"><a href="{% url 'admin:index' %}">Staff Login</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
