
{% extends 'base.html' %} 

{% load static %}


{% block content %}

<div class="row" align="center">
    <div class="feature-box">
    <h2 style="font-family:times new roman;font-size:120%";>Profile Info :</h2>
    <p style="font-family:arial;font-size:100%;line-height:1.2";>Username:        
     {{user.username}}<br><br>
     Name  : {{user.first_name}}  {{user.last_name}}<br><br>
     <a align="center" class="button" href="{% url 'edit-user' %}"> Edit</a>
    <p></p>
  </div>


  <br><br>
  
  <h3 class="heading-tertiary">Availability of Rooms</h3>
{% for room in rooms %}

<br><br>
{% if  room.no_rooms == 0 %}
<h3 class="heading-tertiary">Guest House : {{ room.G.name }}</h3>
<h4 class="heading-tertiary">Available Rooms = {{ room.no_rooms }} </h4>

<h3 class="heading-tertiary"><span>#</span> Sorry Rooms are Not Available at {{ room.G.name }}</h3>
<br>
<br>

{% else %}

<h4 class="heading-tertiary" >Total Rooms Available : {{ room.no_rooms }} </h4>
<h3 class="heading-tertiary">Guest House : {{ room.G.name }}</h3>

    
        <table class="table" align="center">
            <tr class="tr">
              <th class="th">Rooms Types</th>
              <th class="th">Number of Rooms Available</th>                                                       
              <th class="th">Book</th>
              <th style="margin-right: 1%" class="th">Details</th>
            </tr>

            {% for r in room.rooms %}
        
            <tr class= "tr">
              <td class="td">{{ r.type }}</td>
              <td class="td">{{ r.count }}</td>
        
              <td>
                <form method='post' action='{% url "payment" room.G.id T.id r.type r.count %}'>
                  {% csrf_token %}
                      
                  <br><button class="button" style="width: 100%">Book</button>
                          <br><br>
                      </form>
              </td>

          <td>
            
              <form method='POST' action='{% url "roomdetails" %}'>
                {% csrf_token %}
                <button class="button" style="width: 100%" >Details</button><br>
              </form></td>


            </tr>
                {% endfor %}
        </table>
    

{% endif %}
{% endfor %}

            <br><br><br>
            <h3 class="heading-tertiary"> If rooms are not Available continue here for waiting </h3>
            <form method="get"  action="{% url 'waiting_show' T.id %}">
                        {% csrf_token %}
                        <button class="btn btn--green" type="submit">Waiting</button>

      </form>

 
  
  <div class="column side">
    <h2></h2>
    <p></p>
  </div>
</div>
</div>


{% endblock %}
