
{% extends 'base.html' %} 

{% load static %}


{% block content %}

<div class="row">
  <div class="column side">
    <h2 style="font-family:times new roman;font-size:120%";>USER INFO</h2>
    <p style="font-family:arial;font-size:100%;line-height:1.2";>Username:        
     {{user.username}}<br><br>
    Name  : {{user.first_name}}  {{user.last_name}}<br>
    </p>
  </div>

  <br>
  <div align="center">
  <p class="heading-secondary">Room_Details</p><br>

  <h2 align="center">Your Booking is Successfull</h2><br>
  <h3 align="center" style="color:#0f2453;border:2px solid #ddd">Booking Details</h3>
	<table border="2" align="center">
		<tr style="background-color: #0f2453">
            <th style="color: white" class = "heading-tertiary">Parameter</th>
            <th style="color: white" class = "heading-tertiary">Details</th>   
		</tr>
		<tr>
			<td class = "heading-tertiary">Guest House :</td>
			<td class = "heading-tertiary">{{reservation.guesthouse}}</td>
		</tr>
		<tr>
			<td class = "heading-tertiary">Room Type :</td>
			<td class = "heading-tertiary">{{reservation.room_type}}</td>
		</tr>
		<tr>
			<td class = "heading-tertiary">Room No :</td>
			<td class = "heading-tertiary">{{reservation.rooms_allocated}}</td>
		</tr>
		<tr>
			<td class = "heading-tertiary">Check In :</td>
			<td class = "heading-tertiary">{{reservation.start_date}}</td>
		</tr>
		<tr>
			<td class = "heading-tertiary">Check Out :</td>
			<td class = "heading-tertiary">{{reservation.end_date}}</td>
		</tr>
		<tr>
			<td class = "heading-tertiary">Book Date :</td>
			<td class = "heading-tertiary">{{reservation.booktime}}</td>
		</tr>
		
  
  <div class="column side">
    <h2></h2>
    <p></p>
  </div>
</div>
{% endblock %}