
{% extends 'base.html' %} 

{% load static %}


{% block content %}


<div class="row">
  <div class="feature-box">
    <h2 style="font-family:times new roman;font-size:120%";>USER INFO</h2>
    <p style="font-family:arial;font-size:100%;line-height:1.2";>Username:        
     {{user.username}}<br><br>
    Name    : {{user.first_name}}  {{user.last_name}}<br>
    </p>
 
  </div>
<br><br>
  <p class = "heading-secondary">Cancellation</p>

  
  <div align ="center">
  <h2 align="center" class = "heading-tertiary">Your Booking is Successfully Cancelled</h2>
  <h3 align="center" style="color:#0f2453;border:2px solid #ddd">Cancellation Details:</h3><br>
	<table class='table'>
		<tr class='tr'>
            <th class= "th">Parameter</th>
            <th class= "th">Details</th>   
		</tr>
		<tr class='tr'>
			<td class = "td">Guest House :</td>
			<td class = "td">{{reservation.guesthouse}}</td>
		</tr>
		<tr class='tr'>
			<td class = "td">Room Type :</td>
			<td class = "td">{{reservation.room_type}}</td>
		</tr>
		
		<tr class='tr'>
			<td class = "td">Check In :</td>
			<td class = "td">{{reservation.start_date}}</td>
		</tr>
		<tr class='tr'>
			<td class = "td">Check Out :</td>
			<td class = "td">{{reservation.end_date}}</td>
		</tr>
		<tr class='tr'>
			<td class = "td">Book Date :</td>
			<td class = "td">{{reservation.booktime}}</td>
		</tr>
		</table>
		<br><br><br>
<button class="btn btn--green" onclick="location.href='/my-bookings'">My Bookings </button><br>
  
  <div class="column side">
    <h2></h2>
    <p></p>
  </div>
</div>
</div>
{% endblock %}
