
{% extends 'base.html' %} 

{% load static %}


{% block content %}


{% if messages %}
  <ul class="messages">
    {% for message in messages%}
      <li class="{{message.tags}}">{{message}}</li>
      {%endfor%}
    </ul>
  {%endif%}



<div class="row" align="center">
  <div class="feature-box">

    <h2 style="font-family:times new roman;font-size:120%";>USER INFO</h2>
    <p style="font-family:arial;font-size:100%;line-height:1.2";>Username:        
     {{user.username}}<br><br>
	Name    : {{user.first_name}}  {{user.last_name}}<br>
    </p>
 

  </div>
  
<br><br>

  <div class="column middle">
  <h3 class="heading-tertiary">Current Bookings</h3><br>
		{% if reservation %}

<h3 align="center" class="heading-tertiary">Confirmed Bookings</h3>

<table border="2" align="center">
<tr style="background-color: #0f2453">
<th style="color: white" class="heading-tertiary">Guest House</th>
<th style="color: white" class="heading-tertiary">Room Type</th>
    <th style="color: white" class="heading-tertiary">Room</th>
    <th style="color: white" class="heading-tertiary">CheckIn</th>                                                       
    <th style="color: white" class="heading-tertiary">CheckOut</th>
<th style="color: white" class="heading-tertiary">BookDate</th>
<th style="color: white;margin-right: 1%" class="heading-tertiary">Action</th>
    </tr>


{% for r in reservation%}
{% if r.waiting == False %}





<tr>
    <td class="heading-tertiary">{{ r.guesthouse }}</td>
    <td class="heading-tertiary">{{ r.room_type }}</td>
<td class="heading-tertiary">{{ r.rooms_allocated }}</td>
<td class="heading-tertiary">{{ r.start_date }}</td>
<td class="heading-tertiary">{{ r.end_date }}</td>
<td class="heading-tertiary">{{ r.booktime }}</td>
    <td><form method="get"  action="{% url 'cancel' r.id %}">{% csrf_token %}
                    
            <br><button class="button" style="width: 100%">Cancel</button><br><br>
        </form>
    </td>

</tr>
                                                          

{% endif%} 
{% endfor %}

</table>
<br><br>
<h3 align="center" class="heading-tertiary">Waiting Bookings</h3>

<table border="2" align="center">
<tr style="background-color: #0f2453">
<th style="color: white" class="heading-tertiary">Guest House</th>
<th style="color: white" class="heading-tertiary">Room Type</th>
    <th style="color: white" class="heading-tertiary">Room</th>
    <th style="color: white" class="heading-tertiary">CheckIn</th>                                                       
    <th style="color: white" class="heading-tertiary">CheckOut</th>
<th style="color: white" class="heading-tertiary">BookDate</th>
<th style="color: white;margin-right: 1%" class="heading-tertiary">Action</th>
    </tr>


{% for r in reservation%}
{% if r.waiting == True %}





<tr>
    <td class="heading-tertiary">{{ r.guesthouse }}</td>
    <td class="heading-tertiary">{{ r.room_type }}</td>
<td class="heading-tertiary">{{ r.rooms_allocated }}</td>
<td class="heading-tertiary">{{ r.start_date }}</td>
<td class="heading-tertiary">{{ r.end_date }}</td>
<td class="heading-tertiary">{{ r.booktime }}</td>
    <td><form method="get"  action="{% url 'cancelwaiting' r.id %}">{% csrf_token %}
                    
            <br><button class="button" style="width: 100%">Cancel</button><br><br>
        </form>
    </td>

</tr>
                                                          

{% endif%} 
{% endfor %}

</table>							




		{% else %}
			<h3 align="center" class="heading-tertiary">You have no current Bookings</h3>
							
	        {% endif %}

</div>
  
  <div class="column side">
    <h2></h2>
    <p></p>
  </div>
</div>
{% endblock %}
   
