
{% extends 'base.html' %} 

{% load static %}


{% block content %}


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<div class="topnav">
</div>

<div class="row">
<div class="feature-box">
    <h2 style="font-family:times new roman;font-size:120%";>USER INFO</h2>
    <p style="font-family:arial;font-size:100%;line-height:1.2";>Username:        
     {{user.username}}<br><br>
    Name    : {{user.first_name}}  {{user.last_name}}<br>
    </p>
  </div>

  <br><br>
  <div align = "center">
  <h3 class="heading-tertiary">Availability of Rooms</h3>
{% for room in rooms %}

<br><br>
<h3 class="heading-tertiary">Guest House : {{ room.G.name }}</h3>


<table border="2" align="center">
  <tr style="background-color: #0f2453">
    <th style="color: white" class="heading-tertiary">Rooms Types</th>
    <th style="color: white" class="heading-tertiary">Number of Waiting</th>                                                       
    <th style="color: white" class="heading-tertiary">Continue Waiting</th>
    <th style="color: white;margin-right: 1%" class="heading-tertiary">Details</th>
  </tr>

  {% for r in room.room2 %}
  <tr>
    <td class="heading-tertiary">{{ r.type }}</td>
    <td class="heading-tertiary" align="center">{{ r.count }}</td>

</td>
    <td>
    <form method="post"  action="{% url 'waiting' room.G.id T.id r.type %}">{% csrf_token %}
                
                <br><button class="button" style="width: 100%">Waiting</button><br><br>
            </form>
    </td>
<td><br>
          <button class="button" style="width: 100%" onclick="location.href=">Details</button><br>
					</td>


      </tr>
          {% endfor %}
  </table>



{% endfor %}
 
 
 </div>
  
  <div class="column side">
    <h2></h2>
    <p></p>
  </div>
</div>

{% endblock %}
