
<html>
    <head>
    </head>

    <body>

				 <h3 class="title-w3-agileits title-black-wthree">Availability of Rooms</h3>
                            {% for room in rooms %}

                              
                                  <p> ssss</p>
                                   

                                                        <p> {{ room.G.name}}
                                        {% for r in room.room2 %}  
                                                       <tr>
                                                            <td>{{ r.type }}</td>
                                                            <td>{{ r.count }}</td>
                                                            <td><button class="collapsible" style="width: 90%; padding: 5% margin-right: 1%   ">Continue</button>
                                                                <div class="content"><br><br><br>
                                    
                                                                   <form method="post"  action="{% url 'waiting' room.G.id T.id r.type %}">{% csrf_token %}
                                                                        <label for="first_name"><h4> Rooms</h4></label>
                                                                        
                                                                        <br><label for="first_name"><h4>Gusets</h4></label>
                                                                        
                                                                        <br><button class="book" style="width: 100%">Wiating</button><br><br>
                                                                    </form>
                                    
                                                            </td>

                                                          </tr>
                                                            
                                                      </table>
                                                  
                                        {% endfor %}
                



                            {% endfor %}
</body>
</html>				