
{% extends 'base.html' %} 

{% load static %}

{% block content %}

{% if messages %}

<div class="row">
  <div class="feature-box">
    <h2 style="font-family:times new roman;font-size:120%";>USER INFO</h2>
    <p style="font-family:arial;font-size:100%;line-height:1.2";>Username:        
     {{user.username}}<br><br>
    Name    : {{user.first_name}}  {{user.last_name}}<br>
    </p>
 

  </div>
  
  <div class="column middle">
  <br><br>
  <h2 align="center">Password Changed Successfully</h2>
  
  

<button class="btn btn--green" onclick="location.href='/profile'">Go Home</button><br>
  
  <div class="column side">
    <h2></h2>
    <p></p>
  </div>
</div>

{% endblock %}