
{% extends 'base.html' %} 

{% load static %}


{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<div class="row">

  <div align="center">
  <p class = "heading-secondary">Change Password</p>
   {#<form method="post" action="{% url 'index' %}" id="options_form"> #}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
      <button class = "btn btn--green" type="submit">Save changes</button>
    </form>
    
  </div>
  
  <div class="column side">
    <h2></h2>
    <p></p>
  </div>
</div>

{% endblock %}
