
{% extends 'base.html' %} 

{% load static %}


{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<div class="row">

  <div align="center">
  <p class = "heading-secondary">Change Password</p>
   {#<form method="post" action="{% url 'index' %}" id="options_form"> #}
    <form method="post">
        {% csrf_token %}
        <h2 class= "heading-tertiary">Old Password</h2>
        
        <h2 style='color:red' class= "heading-tertiary">{{form.old_password.errors}}</h2>

        {{ form.old_password }}
        <br><br>
        <h2 class= "heading-tertiary">New Password</h2>
        <h2 style='color:red' class= "heading-tertiary">
        {{form.new_password1.errors}}</h2>
        
        {{ form.new_password1 }}
        <br><br>
        <h2 class= "heading-tertiary">Confirm New Password</h2>
        <h2 style='color:red' class= "heading-tertiary">
        {{form.new_password2.errors}}</h2>
        
        {{ form.new_password2 }}

        <br><br><br>

      <button class = "btn btn--green" type="submit">Save changes</button>
    </form>
    
  </div>
  
  <div class="column side">
    <h2></h2>
    <p></p>
  </div>
</div>

{% endblock %}
