{% extends 'base.html' %} 

{% load static %}

{% block content %}

<!--
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}s


<div class="header">
  <h1>Online Guest House Booking Portal</h1>
  <p style="font-family:times new roman;font-size:140%";>Log In</p>

</div>

<div class="topnav">
</div>

<div class="row">
  <div class="column side">
 </div>
  
  <div class="column middle">
   {#<form method="post" action="{% url 'index' %}" id="options_form"> #}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
      <button type="submit">Save changes</button>
    </form>
    -->
    {% endblock %}