{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>nest4guest &mdash; IIT KGP</title></head>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
</head>

<body>
  <!-- Top Bar -->
  {% include 'partials/_topbar_base.html' %}
  <!-- NavBar -->
  {% include 'partials/_navbar_base.html' %}
    <!-- Main Content -->
  {% block content %} {% endblock %}
<br><br>
                <div class="row">
                    <div class="book">
                        <div class="book__form">
                            
                                <div class="u-margin-bottom-medium">
                                    <h2 class="heading-secondary">
                                        LOGIN
                                    </h2>
                                </div>
                                
                                <form method="post" class="form" >
    
                                {% csrf_token %}
                                {{form}}
                                <div class="form__group">
                                <br><br>
                                    <button class="btn btn--green" type="submit">LOGIN &rarr;</button>
                                </div>
                        </form>
                        </div>
                    </div>
                </div>
            {% for message in messages %}
		{% if message%}

        <a  href="#" data-dismiss="alert">×</a>
				
					window.alert({{message}})
		{%endif%}

            {% endfor %}
	

<!-- Footer -->
  {% include 'partials/_footer_base.html' %}
  

    </body>
</html>
