{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>nest4guest &mdash; IIT KGP</title></head>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
</head>

<body>
  <!-- Top Bar -->
  {% include 'partials/_topbar_base.html' %}
  <!-- NavBar -->
  {% include 'partials/_navbar_base.html' %}
    <!-- Main Content -->
  {% block content %} {% endblock %}
<br>
 <section class="section-book" id="section-book">
             
                <div class="row" align ="center">
                    
                        <div class="book__form">
                            
                                <div class="u-margin-bottom-medium">
                                    <h2 class="heading-secondary" style="color:white">
                                        SIGN UP
                                    </h2>
                                </div>    
                                    <form method="post" class="form">
                                    {% csrf_token %}
                                    {{form}}
                                <div class="form__group">
                                <br><br>
                                    <button class="btn btn--green" type="submit">Sign in &rarr;</button>
                                </div>
                            </form>
                        </div>
                    
                </div>
</section>
<!-- Footer -->
  {% include 'partials/_footer_base.html' %}
  

    </body>
</html>
