
{% extends "home/header.html" %}
{% block content %}	



<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

</style>
</head>
<body>

<div class="container">
  <header>
    <i aria-hidden="true"></i>
  </header>
  <main>
    <div class="row">
      <div class="center col-lg-4">
        <div class="photo-left">
        </div>
        <h4 class="name">{{user.first_name}} {{user.last_name}}</h4>
        <p class="info">{{user.username}}</p>
        <p class="info">{{user.email}}</p>
        <p class="desc">Hello! I am {{user.first_name}} {{user.last_name}}</p>
        <div class="social">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </div>
      </div>
     
  </main>
</div>

{% endblock %}