
{% extends 'base.html' %} 

{% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}

<br><br>
                <div class="row">
                    <div class="book">
                        <div class="book__form">
                            
                                <div class="u-margin-bottom-medium">
                                    <h2 class="heading-secondary">
                                        UPDATE
                                    </h2>
                                </div>
                                
                                <form method="post" class="form" >
    
                                {% csrf_token %}
                                {{form}}
                            
                                <div class="form__group">
                                <br><br>
                                    <button class="btn btn--green" type="submit">Update &rarr;</button>
                                </div>
                        </form>
                        </div>
                    </div>
                </div>


{% endblock %}