
{% extends 'base.html' %} 

{% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}

<br><br>
                <div class="row">
                    <div class="book">
                        <div class="book__form">
                            
                                <div class="u-margin-bottom-medium">
                                    <h2 class="heading-secondary">
                                        UPDATE
                                    </h2>
                                </div>
                                
                                <form method="post" class="form" >
    
                                {% csrf_token %}

                                <h2 class= "heading-tertiary">First Name</h2><br>
                                <h2 style='color:red'class= "heading-tertiary">
                                    {{form.first_name.errors}}</h2>
                                
                                {{form.first_name}}
                                <br>

                                <h2 class= "heading-tertiary">Last Name</h2><br>
                                <h2 style='color:red'class= "heading-tertiary">
                                    {{form.last_name.errors}}</h2>

                                {{form.last_name}}
                                <br>

                                <h2 class= "heading-tertiary">Email</h2><br>
                                <h2 style='color:red'class= "heading-tertiary">
                                    {{form.email.errors}}</h2>

                                {{form.email}}
                            
                                <div class="form__group">
                                <br><br>
                                    <button class="btn btn--green" type="submit">Update &rarr;</button>
                                </div>
                        </form>
                        </div>
                    </div>
                </div>


{% endblock %}
