{% load static %}
<div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

    <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
    </label>

    <div class="navigation__background">&nbsp;</div>

    <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item"><a href="{% url 'home' %}" class="navigation__link"><span>01</span>Home</a></li>
            <li class="navigation__item"><a href="{% url 'about' %}" class="navigation__link"><span>02</span>About Us</a></li>
            <li class="navigation__item"><a href="{% url 'login' %}" class="navigation__link"><span>03</span>Login</a></li>
            <li class="navigation__item"><a href="{% url 'signup' %}" class="navigation__link"><span>04</span>Signin</a></li>
            <li class="navigation__item"><a href="{% url 'admin:index' %}" class="navigation__link"><span>05</span>Staff Login</a></li>

            </ul>
    </nav>
</div>
