{% load static %}
<div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

    <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
    </label>

    <div class="navigation__background">&nbsp;</div>

    <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item"><a href="{% url 'index' %}" class="navigation__link"><span>01</span>Home Page</a></li>
            <li class="navigation__item"><a href="{% url 'my_bookings' %}" class="navigation__link"><span>02</span>MY Bookings</a></li>
            <li class="navigation__item"><a href="{% url 'edit-user' %}" class="navigation__link"><span>03</span>Update Profile</a></li>
            <li class="navigation__item"><a href="{% url 'password_change' %}" class="navigation__link"><span>04</span>Change Password</a></li>
            <li class="navigation__item"><a href="{% url 'logout' %}" class="navigation__link"><span>05</span>Logout</a></li>
            <li class="navigation__item"><a href="{% url 'feedback' %}" class="navigation__link"><span>06</span>Feedback</a></li>

            </ul>
    </nav>
</div>
